In [1]:
!pip install docxtpl -q

In [2]:
import pandas as pd
from datetime import datetime
from docxtpl import DocxTemplate

In [3]:
doc = DocxTemplate("plantilla.docx")

In [4]:
nombre = "Iván Espinoza"
telefono = "(123) 456-789"
correo = "ivan@gmail.com"
fecha = datetime.today().strftime("%d/%m/%Y")

In [5]:
print(fecha)

21/07/2023

In [6]:
constantes = {'nombre': nombre, 'telefono': telefono, 'correo': correo,
              'fecha': fecha}

In [7]:
print(constantes)

{'nombre': 'Iván Espinoza', 'telefono': '(123) 456-789', 'correo': 'ivan@gmail.com', 'fecha': '21/07/2023'}

In [9]:
df = pd.read_excel('Alumnos.xlsx')

In [10]:
df

  Nombre del Alumno  Mat  Fis  Qui
0        Juan Pérez  6.2  5.8  6.1
1          Ana Soto  5.9  6.4  6.3
2    Luis Rodríguez  5.6  6.1  5.9
3    María González  6.4  6.2  6.0
4       Carlos Ruiz  6.0  6.3  5.8
5        Sofía Díaz  6.1  5.9  6.2
6      Lucas Méndez  5.8  6.0  6.1
7    Isabel Paredes  6.3  6.1  6.2
8   Daniel Castillo  6.2  6.0  6.3
9  Fernanda Herrera  6.1  5.7  6.0

In [30]:
for indice, fila in df.iterrows():
    contenido = {
        'nombre_alumno':fila["Nombre del Alumno"],
        'nota_mat': fila['Mat'],
        'nota_fis': fila['Fis'],
        'nota_qui': fila['Qui']
    }
    contenido.update(constantes)
    
    doc.render(contenido)
    doc.save(f"Notas_de_{fila['Nombre del Alumno']}.docx")
    
    print(contenido)

{'nombre_alumno': 'Juan Pérez', 'nota_mat': 6.2, 'nota_fis': 5.8, 'nota_qui': 6.1, 'nombre': 'Iván Espinoza', 'telefono': '(123) 456-789', 'correo': 'ivan@gmail.com', 'fecha': '21/07/2023'}
{'nombre_alumno': 'Ana Soto', 'nota_mat': 5.9, 'nota_fis': 6.4, 'nota_qui': 6.3, 'nombre': 'Iván Espinoza', 'telefono': '(123) 456-789', 'correo': 'ivan@gmail.com', 'fecha': '21/07/2023'}
{'nombre_alumno': 'Luis Rodríguez', 'nota_mat': 5.6, 'nota_fis': 6.1, 'nota_qui': 5.9, 'nombre': 'Iván Espinoza', 'telefono': '(123) 456-789', 'correo': 'ivan@gmail.com', 'fecha': '21/07/2023'}
{'nombre_alumno': 'María González', 'nota_mat': 6.4, 'nota_fis': 6.2, 'nota_qui': 6.0, 'nombre': 'Iván Espinoza', 'telefono': '(123) 456-789', 'correo': 'ivan@gmail.com', 'fecha': '21/07/2023'}
{'nombre_alumno': 'Carlos Ruiz', 'nota_mat': 6.0, 'nota_fis': 6.3, 'nota_qui': 5.8, 'nombre': 'Iván Espinoza', 'telefono': '(123) 456-789', 'correo': 'ivan@gmail.com', 'fecha': '21/07/2023'}
{'nombre_alumno': 'Sofía Díaz', 'nota_mat': 6.1, 'nota_fis': 5.9, 'nota_qui': 6.2, 'nombre': 'Iván Espinoza', 'telefono': '(123) 456-789', 'correo': 'ivan@gmail.com', 'fecha': '21/07/2023'}
{'nombre_alumno': 'Lucas Méndez', 'nota_mat': 5.8, 'nota_fis': 6.0, 'nota_qui': 6.1, 'nombre': 'Iván Espinoza', 'telefono': '(123) 456-789', 'correo': 'ivan@gmail.com', 'fecha': '21/07/2023'}
{'nombre_alumno': 'Isabel Paredes', 'nota_mat': 6.3, 'nota_fis': 6.1, 'nota_qui': 6.2, 'nombre': 'Iván Espinoza', 'telefono': '(123) 456-789', 'correo': 'ivan@gmail.com', 'fecha': '21/07/2023'}
{'nombre_alumno': 'Daniel Castillo', 'nota_mat': 6.2, 'nota_fis': 6.0, 'nota_qui': 6.3, 'nombre': 'Iván Espinoza', 'telefono': '(123) 456-789', 'correo': 'ivan@gmail.com', 'fecha': '21/07/2023'}
{'nombre_alumno': 'Fernanda Herrera', 'nota_mat': 6.1, 'nota_fis': 5.7, 'nota_qui': 6.0, 'nombre': 'Iván Espinoza', 'telefono': '(123) 456-789', 'correo': 'ivan@gmail.com', 'fecha': '21/07/2023'}

In [8]:
doc.render(constantes)
doc.save(f"prueba.docx")